

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



@media only screen and (max-width: 1199px) {
  
    
}

@media only screen and (max-width: 1024px) {
  .banner {
     margin-right: 21%;
}
     .subbutton{
        right:100px;
    }
       
    
}





@media only screen and (max-width: 991px) {
.banner {
    padding-top: 250px}
    
   .search-sec{
        display:none;
    }
    
    
    
    
    
    
    
    
    
    
}




@media only screen and (max-width: 767px) {
  [class*="col-"] {
    width: 100%;
  }
    .banner {
        margin-right: 1%;}
    
    .top-menu{
        left: 0;
        right: 0;
    }
    .menu{
        display: none;
    }
    .mobile-menu span{
        display: block;
    }
    
    .banner {
    margin-right: 6%;
}
    .lets-item{
            margin:0 auto;
    }
    .blog-2, .blog-1 {
        display:block;
        margin: 20px;
}
    .hicking-title h2 {
        font-size: 48px;}
    .hicking-title h2 span {
        font-size: 57px;}
    .subbutton{
        display: block;
        margin-top: 50px;
        right:40%;
    }
    .footer-widget {
    padding-right:10px;
        text-align: center;
}
    .widget-content p{
        padding-left: 15%;
        padding-right: 15%;
    }
    .widget-social ul{
        padding-left: 20%;
        padding-right: 20%;
    }
    .widget {
    text-align: center;
        margin-top: 30px;
}
}

@media only screen and (max-width:575px) {
 

}


@media only screen and (max-width:480px) {

}